package components

templ Layout(contents templ.Component, activePage ActivePage) {
    <!DOCTYPE html>
    <html lang="en">
        @Header()
        <body class="bg-[#141414] text-white">
            @Navbar(activePage)
            <main class="container min-h-screen w-full mx-auto">
                @contents
            </main>
        </body>
    </html>
}
